STC 510 Module 3 Basics 

Michael O'Donnell 01/25/2024

For this project, I will be pulling in a CSV file containing crime data from Pheonix, AZ and storing it in Pandas. I will then take that data in Pandas and use the tools we learned throughout Module 3 to explore certain aspects of the data and visualize it so I can get a starting point about certain patterns that may arise in the crime data.

In [2]:
#Import statements. Note: these do not need to be installed since they have already been downloaded for this project environment 
#in Juptyer Notebooks for me
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

Now I will import the crime stats from a CSV taken from Kaggle: https://www.kaggle.com/mariapushkareva/phoenix-crime-data?select=crimestat+%281%29.csv

and I will store it in a new Pandas Dataframe

--------------------------
When importing the data I encountered an error that Pandas couldn't read in some of the data. After searching the error message I was able to get the code to run using these links:

https://stackoverflow.com/questions/60345503/pandas-parsererror-error-tokenizing-data-c-error-eof-inside-string

https://datascientyst.com/solve-error-tokenizing-data-read_csv-pandas/

What I gathered from these sources was that the "on_bad_lines='skip'" allows the dataframe to not include bad rows with data. Since the data set is relatively large, I did not look through the data. But this is a good habit to drop the rows that include bad data, which is often the case. But with that said, it must be noted that we could be missing data that could impact our results, so the bias of that must be noted. 

The "engine='python'" changes the pandas engine from C to Python to import the code and I guess Python is more updated with more tools to parse in the data.

In [3]:
#creating new dataframe using the read_csv() module
#I renamed the CSV afterdownloading it
crime_df = pd.read_csv('crimestats.csv',on_bad_lines='skip',engine='python')

In [4]:
#prints a preview of dataframe
crime_df

,INC NUMBER,OCCURRED ON,OCCURRED TO,UCR CRIME CATEGORY,100 BLOCK ADDR,ZIP,PREMISE TYPE
0,201600000052855,11/01/2015 00:00,01/09/2016 00:00,MOTOR VEHICLE THEFT,N 43RD AVE & W CACTUS RD,85029.0,SINGLE FAMILY HOUSE
1,201600000594484,11/01/2015 00:00,NaN,RAPE,13XX E ALMERIA RD,85006.0,SINGLE FAMILY HOUSE
2,201500002102327,11/01/2015 00:00,11/01/2015 09:00,LARCENY-THEFT,51XX N 15TH ST,85014.0,APARTMENT
3,201500002101405,11/01/2015 00:00,11/01/2015 05:00,MOTOR VEHICLE THEFT,102XX W MEDLOCK AVE,85307.0,SINGLE FAMILY HOUSE
4,201500002102668,11/01/2015 00:00,11/01/2015 11:50,MOTOR VEHICLE THEFT,69XX W WOOD ST,85043.0,SINGLE FAMILY HOUSE
...,...,...,...,...,...,...,...
131671,201700002024419,11/17/2017 04:00,11/17/2017 04:06,BURGLARY,22XX E BROADWAY RD,85040.0,DEPARTMENT / DISCOUNT STORE
131672,201700002027239,11/17/2017 04:15,11/17/2017 04:30,LARCENY-THEFT,16XX E INDIAN SCHOOL RD,85016.0,CONVENIENCE MARKET / STORE
131673,201700002025582,11/17/2017 05:00,11/17/2017 09:50,MOTOR VEHICLE THEFT,43XX N 103RD AVE,85037.0,APARTMENT
131674,201700002024523,11/17/2017 05:34,NaN,AGGRAVATED ASSAULT,8XX N 59TH AVE,85043.0,ABANDONED/CONDEMNED STRUCTURE
131675,201700002030009,11/17/2017 05:50,11/17/2017 07:50,BURGLARY,51XX N 39TH DR,85019.0,SINGLE FAMILY HOUSE

In [5]:
#Since there were bad data when importing into the dataset, I included this code to drop empty rows to be safe
crime_df.dropna(inplace=True)

Now that the dataframe has been loaded in and somewhat cleaned, I can start looking at what was requested by the client. I am going to start by looking to see where different kinds of crime are occurring

In [6]:
#This shows where the most crimes are occurring per zip code
crime_df['ZIP'].value_counts()

ZIP
85015.0    4373
85008.0    4096
85041.0    3881
85051.0    3742
85017.0    3547
           ...
85266.0       1
85345.0       1
85363.0       1
85395.0       1
85212.0       1
Name: count, Length: 93, dtype: int64

In [7]:
#Puts the column of zip in a group by dataframe which will allow us to sort by the location
location = crime_df.groupby('ZIP')

In [8]:
#This shows us the total number of crimes that are happening per location(zip) by each crime documented
location['UCR CRIME CATEGORY'].value_counts()

ZIP      UCR CRIME CATEGORY
85003.0  LARCENY-THEFT          537
         BURGLARY               145
         MOTOR VEHICLE THEFT    105
         DRUG OFFENSE            78
         AGGRAVATED ASSAULT      58
                               ...
85392.0  AGGRAVATED ASSAULT       1
85395.0  AGGRAVATED ASSAULT       1
85396.0  BURGLARY                 1
         LARCENY-THEFT            1
         MOTOR VEHICLE THEFT      1
Name: count, Length: 523, dtype: int64

---------------------------
Now the client would like to see in which areas crime is increasing and decreasing

As a note, I think there are probably many ways to do the following and my own biases and perceptions went into how I wanted the data shaped. Although the client wanted specific data patterns found, their requests were vauge enough where I could incorporate my own insights into what data is included in their requests. I am hoping in the real world, my methods would be going above and beyond of what they asked for, especially when looking at crime data and all of its nuances. 

I also used the following sources to help me set up my dataframes.

https://pandas.pydata.org/docs/getting_started/intro_tutorials/09_timeseries.html

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html

https://www.statology.org/pandas-groupby-to-dataframe/

In [66]:
#I first must transform the date data included in the dataset into a datetime so python can recognize it 
#and compare it.
crime_df['OCCURRED ON'] = pd.to_datetime(crime_df['OCCURRED ON'])

In [67]:
#I then take the new dates and have them converted to just their year which is added to a new column in the dataframe.
crime_df['YEAR'] = crime_df['OCCURRED ON'].dt.year

In [68]:
#I then use the dataframe group by method to group the ZIPs and Crimes together
crime_stats = crime_df.groupby(['ZIP', 'UCR CRIME CATEGORY'])

In [69]:
#I take the new grouped dataframe and sort it by year where it counts the crimes per year per zip
crime_stats['YEAR'].value_counts().reset_index

<bound method Series.reset_index of ZIP      UCR CRIME CATEGORY   YEAR
85003.0  AGGRAVATED ASSAULT   2017    33
                              2016    22
                              2015     3
         ARSON                2016     1
                              2017     1
                                      ..
85392.0  DRUG OFFENSE         2016     2
85395.0  AGGRAVATED ASSAULT   2016     1
85396.0  BURGLARY             2017     1
         LARCENY-THEFT        2017     1
         MOTOR VEHICLE THEFT  2017     1
Name: count, Length: 1280, dtype: int64>

In [73]:
#Creates a new dataframe out of the above grouped by dataframe so I can restart the sorting processes
crime_count_df = pd.DataFrame(crime_stats['YEAR'].value_counts().reset_index())

In [74]:
#Prints the dataframe
print(crime_count_df)

          ZIP   UCR CRIME CATEGORY  YEAR  count
0     85003.0   AGGRAVATED ASSAULT  2017     33
1     85003.0   AGGRAVATED ASSAULT  2016     22
2     85003.0   AGGRAVATED ASSAULT  2015      3
3     85003.0                ARSON  2016      1
4     85003.0                ARSON  2017      1
...       ...                  ...   ...    ...
1275  85392.0         DRUG OFFENSE  2016      2
1276  85395.0   AGGRAVATED ASSAULT  2016      1
1277  85396.0             BURGLARY  2017      1
1278  85396.0        LARCENY-THEFT  2017      1
1279  85396.0  MOTOR VEHICLE THEFT  2017      1

[1280 rows x 4 columns]

In [75]:
#I know sort the dataframe by first zip, then crime, then year, then count of crimes so everything is in order
crime_count_df.sort_values(by=['ZIP','UCR CRIME CATEGORY','YEAR','count'],inplace=True)

In [76]:
#I know print the updated dataframe
crime_count_df

          ZIP   UCR CRIME CATEGORY  YEAR  count
2     85003.0   AGGRAVATED ASSAULT  2015      3
1     85003.0   AGGRAVATED ASSAULT  2016     22
0     85003.0   AGGRAVATED ASSAULT  2017     33
3     85003.0                ARSON  2016      1
4     85003.0                ARSON  2017      1
...       ...                  ...   ...    ...
1275  85392.0         DRUG OFFENSE  2016      2
1276  85395.0   AGGRAVATED ASSAULT  2016      1
1277  85396.0             BURGLARY  2017      1
1278  85396.0        LARCENY-THEFT  2017      1
1279  85396.0  MOTOR VEHICLE THEFT  2017      1

[1280 rows x 4 columns]

The following source helped us the diff() method which I needed to help find the difference of crimes per year per crime per zip which eventually will tell me where crime is increasing and decreasing per zip. As a side note, this is where I venture off of the requirements of the assignment. I wanted to explore how crime is increasing per crime per neighborhood because not all crimes are the same. I think it could be dangerous to lump all of the crimes together when each crime per neighborhood deserves to see if it is increasing or not.

https://www.statology.org/pandas-groupby-diff/

In [77]:
#This finds the difference between crime counts per zip per crime per year by the count of crimes per year. 
#That numerial difference is then added to a column in the dataframe
crime_count_df['crime_dif'] = crime_count_df.groupby(['ZIP','UCR CRIME CATEGORY'])['count'].diff().fillna(0)

In [78]:
#Prints updated dataframe
crime_count_df

          ZIP   UCR CRIME CATEGORY  YEAR  count  crime_dif
2     85003.0   AGGRAVATED ASSAULT  2015      3        0.0
1     85003.0   AGGRAVATED ASSAULT  2016     22       19.0
0     85003.0   AGGRAVATED ASSAULT  2017     33       11.0
3     85003.0                ARSON  2016      1        0.0
4     85003.0                ARSON  2017      1        0.0
...       ...                  ...   ...    ...        ...
1275  85392.0         DRUG OFFENSE  2016      2        0.0
1276  85395.0   AGGRAVATED ASSAULT  2016      1        0.0
1277  85396.0             BURGLARY  2017      1        0.0
1278  85396.0        LARCENY-THEFT  2017      1        0.0
1279  85396.0  MOTOR VEHICLE THEFT  2017      1        0.0

[1280 rows x 5 columns]

We now finally get to see where crime has increased from 2016 to 2017 per zip and crime. I chose to only see 2016 because many ZIPs did not have crime reported for 2015. There were also inconsistencies among the data where the amount of crimes would fluctuate over the years, so I thought it would be important to see the most recent data; however, it is important to note the past data is still quite important to compare this to. I am just looking for recent increases.

In [79]:
#makes a new dataframe that includes the zip, crime, year, count of crimes, and crime difference if the crime difference was
#increased from 2016 to 2017
increase_in_crime = crime_count_df[(crime_count_df['YEAR'] == 2017) & (crime_count_df['crime_dif'] > 0)]

In [80]:
#Prints the new dataframe
increase_in_crime

          ZIP   UCR CRIME CATEGORY  YEAR  count  crime_dif
0     85003.0   AGGRAVATED ASSAULT  2017     33       11.0
5     85003.0             BURGLARY  2017     71       17.0
11    85003.0        LARCENY-THEFT  2017    265       49.0
14    85003.0  MOTOR VEHICLE THEFT  2017     52        5.0
20    85003.0              ROBBERY  2017     22       14.0
...       ...                  ...   ...    ...        ...
1236  85339.0  MOTOR VEHICLE THEFT  2017    148       53.0
1241  85339.0                 RAPE  2017     16        6.0
1255  85353.0         DRUG OFFENSE  2017      2        1.0
1258  85353.0        LARCENY-THEFT  2017    197       19.0
1261  85353.0  MOTOR VEHICLE THEFT  2017     93       30.0

[160 rows x 5 columns]

In [81]:
#I do the same thing as above but for decreasing where the differnce was less than 0 in 2017 to show a decrease in crime
decrease_in_crime = crime_count_df[(crime_count_df['YEAR'] == 2017) & (crime_count_df['crime_dif'] < 0)]

In [82]:
#Prints the new dataframe
decrease_in_crime

          ZIP   UCR CRIME CATEGORY  YEAR  count  crime_dif
9     85003.0         DRUG OFFENSE  2017     36       -2.0
19    85003.0                 RAPE  2017     17       -5.0
30    85004.0         DRUG OFFENSE  2017     13      -11.0
33    85004.0        LARCENY-THEFT  2017    294      -15.0
36    85004.0  MOTOR VEHICLE THEFT  2017     35      -32.0
...       ...                  ...   ...    ...        ...
1244  85339.0              ROBBERY  2017     19       -6.0
1248  85353.0   AGGRAVATED ASSAULT  2017     25       -6.0
1253  85353.0             BURGLARY  2017    115      -18.0
1266  85353.0                 RAPE  2017      6       -1.0
1268  85353.0              ROBBERY  2017      9       -2.0

[224 rows x 5 columns]

We are now able to see where crime is increasing and decreasing per crime per neighborhood. The amount of rows became quite small, so now we can go in and look to see the patterns which may be more useful in this case compared to a graph since there is still a good bit of data. I believe this is useful because each crime deserves its own insight instead of being lumped togther among all crimes. We can also use how high above 0 the difference is to see how drastic the change between the 2 years are.

--------------------
I will now be looking to see if where certain crimes are most common 

I am going to start from a fresh dataframe for this

In [100]:
#Declares a new dataframe with data that has not been manipulated
city_crime = pd.read_csv('crimestats.csv',on_bad_lines='skip',engine='python')

In [106]:
#Drop the rows with empty data
city_crime.dropna(inplace=True)

In [107]:
#Make a new dataframe group by with UCR CRIME CATEGORY
crime_occurs = city_crime.groupby(['UCR CRIME CATEGORY'])

In [108]:
#Now i can compare the zip with value counts to UCR CRIME CATEGORY to get the counts of all the crimes per zip
crime_occurs['ZIP'].value_counts()

UCR CRIME CATEGORY  ZIP
AGGRAVATED ASSAULT  85017.0    257
                    85009.0    229
                    85015.0    220
                    85008.0    215
                    85041.0    210
                              ...
ROBBERY             85301.0      1
                    85303.0      1
                    85304.0      1
                    85331.0      1
                    85337.0      1
Name: count, Length: 523, dtype: int64

Although the length of the list is decently long, it gives me exactly what I need to see which Zip codes have the highest number of each crime ranked in order which is a useful metric to have